:root {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    --txtmain: #595959;
    --blueprm: #00296B;
    --bluesec: #5193DE;
    --bluetri: #1D416B;
    --yellowacc: #F3BB02;
    --cardbg: #D0D0D0;
}

.bg1 {
    margin-left: 0;
    margin-top: 0;
    left: 0;
    top: 0;
    z-index: 0;
    position: absolute;
}

.bg1 img {
    margin-left: 0;
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 0;
    position: absolute;
    /* max-height: 100vh; */
}

body {
    color: var(--txtmain);
    overflow-x: hidden;
    background-color: white;
}

.button{
    position:absolute;
    left:6.4vw;   
    top:58vh;
}

.swc {
    position: absolute;
    left: 13.875vw;
    bottom: 0.8vh;
}

.swc img {
    width: 3vw;
    height: 1.194vh;
}

.timer {
    position: relative;
    top: 30vh;
    left: 19vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #050c30;
    font-size: 30px;
}
<<<<<<< Updated upstream

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40vw);
    gap: 5vw;
=======
.grid{
    position: absolute;
    z-index: 0;
    display : grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap :20px;
>>>>>>> Stashed changes
    grid-template-rows: 100vh;
    width: 100%;
    left: 0px;
    margin-top:100vh;
}

<<<<<<< Updated upstream
body {
    color: var(--txtmain);
    background-image: url("Resources/images/landingbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}

.swc {
    position: absolute;
    left: 13.875vw;
    top: 95.19259vh;
}

.swc img {
    width: 3vw;
    height: 1.194vh;
=======
/* .btn1{
    width: 280px;
    height: 50px;
    border-radius: 15px;
    background: #64B5FF;
    color: white;
    text-align: center;
    font-size: 28px;
    transition: 150ms;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border :none;


}

.btn1:hover{
    background: #09457B;
    border-color: white;
    border: 3px solid white;
    box-sizing: border-box;
} */

.gim img{
    display: block;
    max-width: 762px;
>>>>>>> Stashed changes
}