:root{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    --txtmain: #595959;
    --blueprm:#00296B;
    --bluesec: #5193DE;
    --bluetri: #1D416B;
    --yellowacc: #F3BB02;
    --cardbg :#D0D0D0;
}


.bg1{
    margin-left: 0;
    margin-top: 0;
    left: 0;
    top: 0;
    z-index: 0;
    position: absolute;
}

.bg1 img{
    margin-left: 0;
    margin-top: 0;
    left: 0;
    top: 0;
    z-index: 0;
    position: absolute;
    max-height: 100vh;
}

body{
    color: var(--txtmain);
    overflow-x: hidden;
    background-color: white;
}

.swc{
    position:absolute;
    left :13.875vw;
    bottom:0.8vh;
    
}

.swc img{
    width : 3vw;
    height : 1.194vh;
}


.timer{
    position: relative;
    top:30vh;
    left:19vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #050c30;
    font-size: 30px;
}
.grid{
    display : grid; 
    grid-template-columns:repeat(auto-fill, 40vw));
    gap :5vw;
    grid-template-rows: 100vh;
    width: 100%;
    left: 0px;
}
}
