:root{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    --txtmain: #595959;
    --blueprm:#00296B;
    --bluesec: #5193DE;
    --bluetri: #1D416B;
    --yellowacc: #F3BB02;
    --cardbg :#D0D0D0;
}

body{
    color: var(--txtmain);
    background-image: url("Resources/images/landingbg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px; 
    overflow: hidden;
}

.swc{
    position:absolute;
    left :13.875vw;
    top:95.19259vh;
    
}

.swc img{
    width : 3vw;
    height : 1.194vh;
}


.timer{
    position: relative;
    top:30vh;
    left:19vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #050c30;
    font-size: 30px;
}

