

.body{
    background-color: white;
}

.year {
    position: absolute;
    left: 9.16667vw;
    top: 39.8148vh;
}

.climatebox {
    position: absolute;
    left: 36.25vw;
    top: 134.074vh;
}

.climatetxt {
    position: absolute;
    left: 42.39583vw;
    top: 141.4815vh;
}

.dstt {
    position: absolute;
    left: 9.4271vw;
    top: 10vh;
}

.dstt img{
    width:20.71825vw;
    height:20.46296vh;
    object-fit:contain;
}

.execline {
    position: absolute;
    left: 7.2396vw;
    top: 52.87037vh;
}

.exectxt {
    position: absolute;
    left: 9.5833vw;
    top: 52.4074vh;
}

.greenbox {
    position: absolute;
    left: 27.5vw;
    top: 118.98148vh;
    z-index: 10;
}

.greybox {
    position: absolute;
    left: 79.0104vw;
    top: 55.9259vh;
}

.iitglogo {
    position: absolute;
    left: 62.96875vw;
    top: 219.25926vh;
}

.iitmandilogo {
    position: absolute;
    left: 38.4375vw;
    top: 217.5vh;
}

.iisc{
    position: absolute;
    left: 82.9167vw;
    top: 219.4444vh;
}

.iisc img{
    width:9.5833vw;
    height:13.8889vh;
    object-fit: contain;
}

.grouping{
    position: absolute;
    left: 36.25vw;
    top: 82.222vh;
}
.grouping img{
    width:56.61458333vw;
    height:49.90740741vh;
    object-fit:contain;
}
.map1 {
    position: absolute;
    left: 8.5417vw;
    top: 134.8148vh;
    width : 26.0417vw;
    height : 49.074074vw;
}

.map2 {
    position: absolute;
    left: 9.16667vw;
    top: 187.3148vh;
    max-width: 457px;
    height: auto;
}

.map1 img{
    width:26.04167vw;
    height:27.573125vw;
    object-fit:contain;
}

.map2 img{
    width:23.802083vw;
    height:27.0104167vw;
    object-fit:contain;
}

.swiss {
    position: absolute;
    left: 71.14583vw;
    top: 8.5185vh;
}

.venn {
    position: absolute;
    left: 7.8125vw;
    top: 93.148148vh;
}

.yellowboxline {
    position: absolute;
    left: 36.5104vw;
    top: 186.11111vh;
}

.yellowbox {
    position: absolute;
    left: 81.5333vw;
    top: 182.31481vh;
}