
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #231f20;
  font-size: 1.852vh;
  position: relative;
  top:32.6vh;
  --value : 7vw;
}
.stepper {
  position: absolute;
  left: -15.6vw;
  background: #09457b;
  width: 4vw;
  height: 4vw;
  border-radius: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4vh;
  position: absolute;
  overflow: hidden;
  z-index: 1000000;
}
.stepper span {
  user-select: none;
  position: absolute;
  top: 1vw;
  left: 50%;
  transform: translateY(0) translateX(-50%);
}
.stepper span.active {
  transform: translateY(0) translateX(-50%);
}
.stepper span.hide {
  opacity: 0;
}

.stepper2 {
  position: absolute;
  left: -27vw;
  background: #09457b;
  width: 4vw;
  height: 4vw;
  border-radius:  1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4vh;
  overflow: hidden;
  z-index: 1000000;
}
.stepper2 span {
  user-select: none;
  position: absolute;
  top: 1vw;
  left: 50%;
  transform: translateY(0) translateX(-50%);
}
.stepper2 span.active {
  transform: translateY(0) translateX(-50%);
}
.stepper2 span.hide {
  opacity: 0;
}

.stepper1 {
  position: absolute;
  left:-21.3vw;
  background: #09457b;
  width: 4vw;
  height: 4vw;
  border-radius:  1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4vh;
  overflow: hidden;
  z-index: 1000000;
}
.stepper1 span {
  user-select: none;
  position: absolute;
  top: 1vw;
  left: 50%;
  transform: translateY(0) translateX(-50%);
}
.stepper1 span.active {
  transform: translateY(0) translateX(-50%);
}
.stepper1 span.hide {
  opacity: 0;
}


.stepper3 {
  position: absolute;
  left: -32.5vw;
  background: #09457b; 
  width: 4vw;
  height: 4vw;
  border-radius:  1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4vh;
  overflow: hidden;
  z-index: 1000000;
}
.stepper3 span {
  user-select: none;
  position: absolute;
  top: 1vw;
  left: 50%;
  transform: translateY(0) translateX(-50%);
}
.stepper3 span.active {
  transform: translateY(0) translateX(-50%);
}
.stepper3 span.hide {
  opacity: 0;
}


