
.center {
  z-index: 510;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.circle {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 4px;
}
.circle-1 {
  border: 4px solid #fc1460;
}
.circle-2 {
  border: 4px solid #5a87ff;
}
.circle-3 {
  border: 4px solid #18fd91;
}
.circle-4 {
  border: 4px solid #fff01f;
}




.screen1{
  position:absolute;
  top:0vh;
  left:0vw;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 505;
}
.screen2{
  position:absolute;
  top:0vh;
  left:0vw;
  height: 100vh;
  width: 100vw;
  background-color: #64B5FF;
  z-index: 504;
}
.screen3{  
  position:absolute;
  top:0vh;
  left:0vw;
  height: 100vh;
  width: 100vw;
  background-color:#1E83DF;
  z-index: 503;
}
.screen4{
  position:absolute;
  top:0vh;
  left:0vw;
  height: 100vh;
  width: 100vw;
  background-color: #09457B;
  z-index: 502;
}
.screen5{
  position:absolute;
  top:0vh;
  left:0vw;
  height: 100vh;
  width: 100vw;
  background-color: #00305A;
  z-index: 501;
}

